<div [ngSwitch]="playerType" class="player" #player [style.left.px]="playerPixelPos.y" [style.top.px]="playerPixelPos.x">
    <img *ngSwitchCase="player_types.SLEEPING" src="./assets/images/sleeping.png">
    <img *ngSwitchCase="player_types.HAPPY" src="./assets/images/happy.png">

    <img *ngSwitchCase="player_types.NAUSEATED" src="./assets/images/nauseated.png">
    <img *ngSwitchCase="player_types.GOT_FED" src="./assets/images/got-fed.png">
    <img *ngSwitchCase="player_types.GOT_MONEY" src="./assets/images/got-money.png">

    <img *ngSwitchCase="player_types.TARGET_ACQUIRED" src="./assets/images/target-acquired.png">
    <img *ngSwitchCase="player_types.ANGRY" src="./assets/images/angry.png">
</div>

<div [hidden]="true">
    <img src="./assets/images/sleeping.png">
    <img src="./assets/images/happy.png">

    <img src="./assets/images/nauseated.png">
    <img src="./assets/images/got-fed.png">
    <img src="./assets/images/got-money.png">

    <img src="./assets/images/target-acquired.png">
    <img src="./assets/images/angry.png">
</div>