.game-over {
  position: absolute;
  width: 92%;
  height: 92%;
  background-color: rgba(46, 46, 46, 0.5);

  color: #66c9fa;
  font-weight: bold;
  text-align: center;

  z-index: 10;
  margin-top: 0px;

  text-shadow: 0px 4px 3px rgb(48, 49, 49);
}

.game-over h3 {
  color: #89fa5a;
  font-weight: bold;
  margin: 10px 0 20px 0;
}

.game-over a {
  text-decoration: none;
  font-size: 27px;
  cursor: pointer;

  background-color: #323332;
  box-shadow: inset 0 1px 10px rgba(0, 0, 0, 0.3),
    0 1px 0 rgba(255, 255, 255, 0.1), 0 -1px 0 rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  padding: 10px;
  color: #66c9fa;

  text-shadow: none;
}
.game-over a:active {
  color: #89fa5a;
}

dlp-refresh-btn {
  display: block;
  margin: 10% 0;
}

@media screen and (max-width: 520px) {
  .game-over {
    width: 94.5%;
    height: 94%;
  }

  .game-over h1 {
    font-size: 20px;
  }
  .game-over h4 {
    font-size: 13px;
  }
  .game-over h3 {
    font-size: 15px;
  }

  .game-over a {
    font-size: 15px;
  }
}
