.trash {
  margin-top: 20px;
  background-color: #333;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
  height: 50px;
  width: 50px;
  position: relative;

  box-shadow: inset 0 1px 10px rgba(0, 0, 0, 0.3),
    0 1px 0 rgba(255, 255, 255, 0.1), 0 -1px 0 rgba(0, 0, 0, 0.5);
}

.trash.active {
  background-color: #fa5a5a;
  box-shadow: none;
  box-shadow: inset 0 1px 0 rgba(130, 130, 130, 0.5),
    0px 0px 13px 3px rgba(0, 0, 0, 0.19);
  cursor: cursor;
}

img.trash-image {
  width: 85%;
  height: 85%;
  margin-top: 8%;
  margin-left: 10%;
}

img.trash-image.deactive {
  opacity: 0.6;
  cursor: default;
}

.trash-badge {
  background-color: #333;
  border-radius: 50%;
  display: inline-block;
  height: 50%;
  width: 50%;
  color: #89fa5a;
  font-weight: bold;
  position: absolute;
  z-index: 20;
  text-align: center;
  top: -5px;
  right: -5px;
  padding-top: 6%;

  box-shadow: inset 0 1px 10px rgba(0, 0, 0, 0.3),
    0 1px 0 rgba(255, 255, 255, 0.1), 0 -1px 0 rgba(0, 0, 0, 0.5);
}

.trash:first-child {
  margin-right: 10px;
}

@media screen and (max-width: 520px) {
  .trash {
    width: 35px;
    height: 35px;
  }

  .trash-badge {
    font-size: 12px;
    padding-top: 3%;
  }
}
