<dlp-card>
  <header id="main">
    <dlp-power-btn></dlp-power-btn>>
    <h1 class="title">Don't Let Him Poo</h1>
    <dlp-salary-gauge (click)="showRankingsPage()"></dlp-salary-gauge>
  </header>
  <section>
    <dlp-grid-container></dlp-grid-container>
    <dlp-trash-can></dlp-trash-can>
    <dlp-level-editor *ngIf="!env.production"></dlp-level-editor>
  </section>
</dlp-card>

<dlp-card showHR="true" id="instructions">
  <header>
    <p class="author">
      <span class="label">@Author: </span>Abhijit Kumar Kar</p>
    <span class="links">
      <a href="http://www.abhijit-kar.com/" target="_blank">(Portfolio)</a>
      <a href="https://github.com/abhijit-kar/dont-let-him-poo" target="_blank">{{'{'}}Git{{'}'}}</a>
    </span>
    <div class="clearfix"></div>
  </header>
  <section class="instructions">
    <p>You're playing as a manager
      <img class="img-icon" src="./assets/meta/android-icon-36x36.png"> for a dysfunctional organization</p>
    <p>And you have to manage him
      <img class="img-icon" src="./assets/images/sleeping.png"> in following ways:</p>
    <ol>
      <li>You should not let him
        <img class="img-icon" src="./assets/images/happy.png"> reach the
        <img class="img-icon" src="./assets/images/loo.png">
        <img class="img-icon" src="./assets/images/target-acquired.png">
      </li>
      <li>Neither should you kill his hopes
        <img class="img-icon" src="./assets/images/angry.png">
      </li>
      <li>By hook
        <img class="img-icon" src="./assets/images/pizza.png">
        <img class="img-icon" src="./assets/images/got-fed.png"> or by crook
        <img class="img-icon" src="./assets/images/money.png">
        <img class="img-icon" src="./assets/images/got-money.png"> keep him occupied</li>
      <li>And finally make him clean
        <img class="img-icon" src="./assets/images/poop.png">
        <img class="img-icon" src="./assets/images/nauseated.png"> to earn your keep</li>
    </ol>
  </section>
</dlp-card>

<dlp-card showHR="true">
  <header>Organization is Hiring, Spread the word!</header>
  <section>Twitter</section>
</dlp-card>

<dlp-measuring-stick></dlp-measuring-stick>