<dlp-card>
  <header id="main">
    <dlp-power-btn></dlp-power-btn>>
    <h1 class="title">Don't Let Him Poo</h1>
    <dlp-salary-gauge (click)="showRankingsPage()"></dlp-salary-gauge>
  </header>
  <section>
    <dlp-grid-container></dlp-grid-container>
    <dlp-trash-can></dlp-trash-can>
    <dlp-level-editor *ngIf="!env.production"></dlp-level-editor>    
  </section>
</dlp-card>

<dlp-card showHR="true">
  <header>
    <p class="author">
      <span class="label">@Author: </span>Abhijit Kumar Kar</p>
    <span class="links">
      <a href="http://www.abhijit-kar.com/" target="_blank">(Portfolio)</a>
      <a href="https://github.com/abhijit-kar/dont-let-him-poo" target="_blank">{{'{'}}Git{{'}'}}</a>
    </span>
    <div class="clearfix"></div>
  </header>
  <section class="instructions">
    <p>How to play
      <br class="breakpoint"> [as a control freak manager]</p>
    <ol>
      <li>Don't Let'im reach his target</li>
      <li>Keep his hope alive</li>
      <li>If you can't convince him, confuse him</li>
      <li>Paint a fake picture of the world</li>
    </ol>
  </section>
</dlp-card>

<dlp-card showHR="true">
  <header>Mew</header>
  <section>Mau</section>
</dlp-card>

<dlp-measuring-stick></dlp-measuring-stick>