.container {
  width: 527px;

  background-color: #444;
  padding: 20px;

  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;

  -webkit-box-shadow: inset 0 1px 0 rgba(130, 130, 130, 0.5),
    0px 0px 13px 3px rgba(0, 0, 0, 0.19);
  -moz-box-shadow: inset 0 1px 0 rgba(130, 130, 130, 0.5),
    0px 0px 13px 3px rgba(0, 0, 0, 0.19);
  box-shadow: inset 0 1px 0 rgba(130, 130, 130, 0.5),
    0px 0px 13px 3px rgba(0, 0, 0, 0.19);
}

#main {
  position: relative;
  margin-bottom: 5%;
}

.container h1 {
  outline: none;
  margin-bottom: 20px;
}

h1 {
  font-family: "Pacifico", cursive;
  color: #5ac8fa;
  vertical-align: inherit;
  display: inline-block;
  font-size: 25px;
  margin-top: 7%;
  margin-left: -3%;
}

dlp-salary-gauge {
  outline: none;
}

.pou {
  width: 48px;
  display: inline-block;
  vertical-align: middle;
}

.author {
  float: left;
}

.author, .label, .links a, #instructions, .social-header {
  color: #5ac8fa;
}

.author,
.links a {
  font-family: "Roboto Mono", monospace;
  font-weight: bold;
}
.label {
  font-size: 15px;
  font-weight: bold;

  padding: 0;
}
p.author {
  margin: 0;
  font-size: 15px;
}

.links {
  float: right;
  font-size: 15px;
}
.links a,
.links a:hover,
.links a:active {
  text-decoration: none;
  outline: none;
}
.links a:last-child {
  margin-left: 10px;
}

.social-header {
  font-size: 15px;
  font-weight: bold;
  text-align: center;
}

.breakpoint {
  display: none;
}

.paypal {
  float: none;
  margin: 0 0 0 33%;
  width: 30%;
  padding: 2%;
  text-align: center;
  font-size: 15px;
}

#instructions {
  color: #5ac8fa;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  margin: 0;
}
.paypal-msg {
  color: #b5b5b5;
  font-size: 15px;
  text-align: center;
}

@media screen and (max-width: 520px) {
  .paypal-msg {
    font-size: 12px;
  }
  #instructions {
    font-size: 14px;
  }
  .paypal {
    font-size: 12px;
  }
  .label {
    font-size: 12px;
  }
  p.author {
    font-size: 12px;
  }
  .links {
    font-size: 12px;
  }
  .social-header {
    font-size: 12px;
  }
  .img-icon {
    width: 20px;
    height: 20px;
  }
  .instructions p {
    text-align: center;
    font-weight: normal;
  }
  .author,
  .links {
    float: none;
  }
  header {
    text-align: center;
    padding-top: 5px;
  }
  h1 {
    font-size: 18px;
    vertical-align: middle;
    margin-left: -40px;
    margin-top: 9%;
  }
  .pou {
    width: 24px;
  }
  .breakpoint {
    display: block;
  }
}
