.gauge-container {
  box-shadow: inset 0 1px 10px rgba(0, 0, 0, 0.3),
    0 1px 0 rgba(255, 255, 255, 0.1), 0 -1px 0 rgba(0, 0, 0, 0.5);
  background-color: #333;
  padding: 20px;
  border-radius: 5px;

  display: inline-block;
  width: 40%;
  float: right;

  padding: 0px 10px 5px 10px;
}

.fa.fa-usd,
.score {
  color: #66c9fa;
  font-size: 0.7em;
  text-shadow: 0 1px 0 rgba(133, 221, 255, 0.4);
}

.fa.fa-usd {
  border-right: 1px solid #646363;
  padding-right: 7%;
}

.score {
  float: right;
  font-weight: bold;
  margin-top: 9px;
}
