.share-btn {
  float: none;
  margin: 0;
  position: relative;
  width: 24.4%;
  margin-bottom: 1%;
}

.share-btn span {
  font-weight: bold;
  font-size: 1.2em;
}
.whatsapp {
  display: none;
}

@media screen and (max-width: 768px) {
  .whatsapp {
    display: inline-block;
  }
}

@media screen and (max-width: 520px) {
  .share-btn {
    font-size: 10px;
    width: 24.3%;
    padding: 5px 0 5px 0;
  }
  .whatsapp {
    display: inline-block;
  }
}
