<div class="grid-container">
  <div *ngIf="!gridService.gameGrid; else showPlayButton">
    <img class="get-loader" src="./assets/images/loader.gif" alt="Loader">
  </div>

  <ng-template #showPlayButton>
    <span *ngIf="choreographerService.currentGameState === game_states.START" class="fa fa-play" (click)="startGame()"></span>
  </ng-template>

  <div class="game-over" *ngIf="choreographerService.currentGameState === game_states.GAME_OVER">
    <h1>Game Over!</h1>
  </div>

  <dlp-player></dlp-player>

  <ng-container *ngIf="showGrid">
    <div class="grid-row" *ngFor="let row of gridService.gameGrid">
      <dlp-cell-container [node]="cell" class="grid-cell" *ngFor="let cell of row"></dlp-cell-container>
    </div>
  </ng-container>

  <span class="vfx" #vfx>{{countDown}}</span>
</div>