<router-outlet></router-outlet>

<img class="cache" src="./assets/images/sleeping.png">
<img class="cache" src="./assets/images/happy.png">
<img class="cache" src="./assets/images/nauseated.png">
<img class="cache" src="./assets/images/got-fed.png">
<img class="cache" src="./assets/images/got-money.png">
<img class="cache" src="./assets/images/target-acquired.png">
<img class="cache" src="./assets/images/angry.png">
<img class="cache" src="./assets/images/loo.png">
<img class="cache" src="./assets/images/money.png">
<img class="cache" src="./assets/images/pizza.png">
<img class="cache" src="./assets/images/poop.png">