<router-outlet></router-outlet>

<img class="cache" src="./assets/images/sleeping.png">
<img class="cache" src="./assets/images/happy.png">
<img class="cache" src="./assets/images/nauseated.png">
<img class="cache" src="./assets/images/got-fed.png">
<img class="cache" src="./assets/images/got-money.png">
<img class="cache" src="./assets/images/target-acquired.png">
<img class="cache" src="./assets/images/angry.png">
<img class="cache" src="./assets/images/loo.png">
<img class="cache" src="./assets/images/money.png">
<img class="cache" src="./assets/images/pizza.png">
<img class="cache" src="./assets/images/poop.png">

<svg width="0" height="0">
    <svg:defs>
        <svg:filter id="dropShadow" height="130%">
            <svg:feGaussianBlur in="SourceAlpha" stdDeviation="2" />
            <svg:feOffset dx="0" dy="2" result="offsetblur" />
            <svg:feComponentTransfer>
                <feFuncA type="linear" slope="0.6" />
                </feComponentTransfer>
                <svg:feMerge>
                    <svg:feMergeNode/>
                    <svg:feMergeNode in="SourceGraphic" />
                    </feMerge>
                    </filter>
                    </defs>
</svg>