.instructions,
p,
ol {
  color: #b5b5b5;
  font-weight: bold;
  font-family: "Roboto Mono", monospace;
  font-size: 15px;
  font-weight: normal;
  text-align: left;
}

@media screen and (max-width: 520px) {
  ol {
    font-size: 12px;
  }
  .img-icon {
    width: 20px;
    height: 20px;
  }
  p {
    text-align: left;
    font-size: 12px;
    padding-left: 3%;
  }
}
