<p>You're playing as a manager
    <img class="img-icon" src="./assets/meta/android-icon-36x36.png"> for a dysfunctional organization</p>
<p>And you have to manage him
    <img class="img-icon" src="./assets/images/sleeping.png"> in following ways:</p>
<ol>
    <li>You should not let him
        <img class="img-icon" src="./assets/images/happy.png"> reach the loo
        <img class="img-icon" src="./assets/images/loo.png">
        <img class="img-icon" src="./assets/images/target-acquired.png">
    </li>
    <li>Neither should you close all the ways to his dream
        <img class="img-icon" src="./assets/images/angry.png">, keep his hope alive
    </li>
    <li>Keep him occupied, by hook
        <img class="img-icon" src="./assets/images/pizza.png">
        <img class="img-icon" src="./assets/images/got-fed.png"> or by crook
        <img class="img-icon" src="./assets/images/money.png">
        <img class="img-icon" src="./assets/images/got-money.png">
    </li>
    <li>And finally make him clean
        <img class="img-icon" src="./assets/images/poop.png">
        <img class="img-icon" src="./assets/images/nauseated.png"> to earn your keep</li>
</ol>