.fa-play {
  color: #5ac8fa;
  font-size: 50px;
  width: 100%;
  text-align: center;
  cursor: pointer;
  margin: 1px auto;
  text-shadow: 0 1px 0 rgba(133, 221, 255, 0.4);
}

@media screen and (max-width: 520px) {
  .fa-play {
    font-size: 25px;
    margin: 7px auto;
  }
}
